body {
	padding: 0;
	margin: 0;
	border: 0;
	background: url(../images/wallpaper.jpg);
	background-size: cover;
	font-family: 'Helvetica', Tahoma, Geneva, Verdana, sans-serif;
}

main{
	color:white;
}

/* link colours */
a {
	text-decoration: none;
	color: lightblue;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color: rgb(255, 255, 255); 
	opacity: 0.6;
}

/* Sets the style of Articles */
article > h1 {
	font-family: Lucida Handwriting, Geneva, Tahoma, sans-serif; margin:1px;
}

/* changes the spacing between lines */
main{line-height:  1.25em;}

/* scrolling */
.js-scroll{
	opacity: 0;
	transition: opacity 3000ms;
}
.js-scroll.scrolled{
	opacity: 1;
}

/* scroll button */
#scroll-btn {       
    opacity: 0;   
    width: 40px;
    height: 40px;
	color: white;
    background-color: #000000;
    position: fixed;
    bottom: 10%;
    right: 2%;    
    border: 2px solid #fff;
    border-radius: 50%; 
    font: bold 20px monospace;       
    transition: opacity 0.5s, transform 0.5s;
}
#scroll-btn.show {      
    opacity: 1;  
    transition: opacity 1s, transform 1s;     
}

/* Images */
/* makes Images reposition accordingly */
img {
	border-radius:4px;
	width: 100%;
}

.nav-icon{
    float:left;
	margin-left:5%;
	border-radius:50%;
	width:5vw;
}

html {
    scroll-behavior: smooth;
}

/* Keyframes specify when the style change will happen in percent */
@keyframes load{
	0%{opacity:0}
	100%{opacity:1}
}

/* banner settings */
.banner {
	padding: 15em 0;
	text-align: center;
	box-shadow: 0 15px 20px #444;	
	animation: load 1.5s;
}

.banner > h1 {
	font-size: 5vw;
	margin: 0.2em 0;
	color:#fff;
	text-shadow: 5px 5px 5px #000;
}

/* Footer for decoration*/
.footer-author{
	left: 0;
	bottom: 0;
	height:8vw; 
	width: 100%;
	padding-top: 1px;
	background-color: rgb(29, 29, 29);
	text-align: center;
	color: whitesmoke;
} 

/* HOME PAGE */
.type-bg{
	background:url(../images/watchtypes.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment: fixed;
}

.parts-bg{
	background:url(../images/WatchParts.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment: fixed;
}

.value-bg{
	background:url(../images/rolex.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment: fixed;
}

/* CSS for slideshow */
.slideshow{
	width: 100%;
	position:relative;
	margin: auto;
	animation: load 1.5s;
}

.slideshow > h1{
	font-size: 5vw;
	margin: 0.2em 0;
	color:#fff;
	text-shadow: 5px 5px 5px #000;
}

/* hide the images first */
.slides{
	display:none;
}

.slideimg{
	background-size:cover; 
	background-attachment: fixed;
	box-shadow: 0 15px 20px #444;	
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

.slideshowptr{
	text-align:center;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 0.5vw;
	width: 3vw;
	margin: 0 2px;
	background-color: #bbb;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

/* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

b.ease{
	position: relative;
}
b.ease:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #FFF;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out;
}

b.ease:hover:before {
	visibility: visible;
	transform: scaleX(1);
}

/* Nav Bar and Hamburger Menu */
/* to make background change colour when on that page */
.header{
    border-bottom: 1px solid #E2E8F0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
.hamburger {
    display: none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
	margin-right:5%
}
.nav-item {
    margin-left: 5rem;
}
.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #ffffff;
	padding:20%;
}

.nav-link:hover{
    color:cyan;
    transition: color 1.5s;    
    opacity: 1;
}
.nav-logo {
	max-width: 10%;
	border-radius: 50%;
}

.onpage{
	background-color:rgba(0, 85, 255, 0.514);;
	border-radius: 10%;
}





/*    GENERAL USE    */
/* General Container */
.container-half{
	max-width: 100%;
	padding: 5%;
	margin: 5%;
}

.fashion,
.functions,
.reliable{
	padding: 5%;
	margin: 10%;
	background-color: rgba(128, 128, 128, 0.2);
	
}

.fashion-img,
.functions-img,
.reliable-img{
	margin: 5%;
	padding: 5%;
}

.fashion1,
.fashion2{
	width: 70%;
	margin: 5%;
	border-radius: 25%;
	border: 5px solid rgb(88, 88, 88);
}

.funct1,
.funct2,
.funct3{
	position: relative;
	width: 45%;
	top: 10%;
	left: 5%;
	border-radius: 50%;
	border: 5px solid rgb(88, 88, 88);
}

.funct2{
	top: 35%;
}

.funct3{
	top: 20%;
}

.shock1, 
.shock2, 
.shock3{
	transform: rotate(-45deg);
	position: relative;
	width: 35%;
	left: 5%;
	top:20%;
	border-radius: 10%;
	border: 5px solid rgb(88, 88, 88);
}

.shock2{
	top: 45%;
	left: -5%;
}
.shock3{
	left: 61%;
	top: -15%;
}


/* Container for titles */
.title{
	border: 0;
	max-width:50%;
	text-align: center;
	margin: 5% 17.5% 2.5% 25%;
	padding-top: 2.5%;
	border-bottom: solid 0.2em white;
}
/* Container for text to be at center of screen */
.container-center {
	max-width:50%;
	padding: 0 5% 0% 5%;
	margin-left: 20%;
	margin-top: 2%;
	text-align: center;
}

/* container class for flex */
.container-flex {
	max-width: 100%;
	display: flex;
	flex-direction: column;
}



.insideflex {
	background-color: rgba(128, 128, 128, 0.2);
	margin: 5% 15% 5% 15%;
}

.flexpara {
	max-width:50%;
	padding: 5%;
	float: right;
}
.flexpara:hover{
	color: cyan;
	transition: color 1.5s;    
    opacity: 1;
}
.fleximg {
	max-width: 30%;
	padding: 5%;
	float: left;
}


.image-flex{
	width:100%;
	height:15vw;
	border-radius: 15%;
	border: 0.3em solid grey; 
}

.not-expanded{
	display: none;
}

.extension{
	position: fixed;
	max-width: 50%;
	padding: 5%;
	background-color: rgb(29, 29, 29);
	right:20%;
	top:5%;
	border-radius: 5%;
	border: 0.5em solid grey;
	z-index: 2;
}

.extension:hover{
	color: cyan;
	transition: color 1.5s;    
    opacity: 1;
}
.expanded-img
{
	max-height: 25vw;
	width:auto;
}


.assembly,
.description{
	padding: 5%;
	margin: 10% 5%;
	max-width:30%;
	border-radius: 15%;
	border: 0.5em solid grey;
	background-color: rgba(128, 128, 128, 0.2);
}
.assembly{
	display:grid;
    position: relative;
}

.bezel{
	grid-row: 1;
	grid-column: 1;
	z-index: 9;
	position: relative;
}
.hands{
	grid-row: 1;
	grid-column: 1;
	z-index: 8;
	position: relative;
}
.dial{
	grid-row: 1;
	grid-column: 1;
	z-index: 7;
	position: relative;
}
.case{
	grid-row: 1;
	grid-column: 1;
	z-index: 6;
	position: relative;
}
.system{
	grid-row: 1;
	grid-column: 1;
	z-index: 5;
	position: relative;
}
.crown{
	grid-row: 1;
	grid-column: 1;
	z-index: 4;
	position: relative;
}
.caseback{
	grid-row: 1;
	grid-column: 1;
	z-index: 3;
	position: relative;
}
.unseen{
	opacity: 0;
	transition: 2000ms;
}
.seen{
	opacity : 1;
}
.add-part{
	padding:2%;
	max-width: 50%;
	margin:10% 25%;
	border-radius: 10%;
	border:0.3vw solid green;
	background-color:whitesmoke;
	font-size: 1.5vw;
}

.container-flex2 {
	max-width: 100%;
	display: flex;
	flex-direction: row;
}
.bezel-text,
.hands-text,
.dial-text,
.case-text,
.system-text,
.crown-text,
.caseback-text{
	text-align: center;
	display:none;
}

.description .title{
	max-width: 80%;
	margin: 5% 10% 2.5% 10%;
}

.redisplay{display:block;}

.value-grid{
	max-width: 100%;
	display: grid;
	border-bottom-style: dotted;
	border-top-style: dotted;
}

.value-grid2{
	max-width: 100%;
	display: grid;
	grid-template-columns: 50% 50%;
}

.value-grid2 .title,
.value-grid2 .container-center{
	max-width: 80%;
	margin-left:10%;
	margin-right:10%;
}

.patek-img, .patek-text,
.rolex-img, .rolex-text,
.audemars-img, .audemars-text{
	position: relative;
	max-width: 30%;
	margin:5%;
	display:block;
	margin-left: auto;
	margin-right: auto;
	transition: transform 5s;
}
.patek-img, .patek-text{
	grid-column: 1;
	grid-row: 1;
}
.rolex-img, .rolex-text{
	grid-column: 1;
	grid-row: 2;
}
.audemars-img, .audemars-text{
	grid-column: 1;
	grid-row: 3;
}
.patek-img, .rolex-img, .audemars-img{
	z-index: 3;
	display:block;
}
.patek-text, .rolex-text, .audemars-text{
	z-index: 2;
	padding: 3%;
	background-color: rgba(29, 29, 29, 0.5);
}



.move-left{transform: translateX(-50%)}

.move-right{transform: translateX(50%)}


@media screen and (max-width: 1440px) {
	/* css for main body text and background*/
	body {
		font-size: 1.3vw;
	}
	
	.fashion {order: 1;}	
	.fashion-img {order: 2;}
	.functions-img {order: 3;}
	.functions {order: 4;}
	.reliable {order: 5;}
	.reliable-img {order: 6;}

	.container-half{
		display: grid;
		grid-template-columns: 50% 50%;
	}

	.navbar h1{display: none;}

	.nav-menu{list-style: none;}
}
@media screen and (max-width: 720px) {
	/* css for main body text and background*/
	body {
		font-size: 2.5vw;
	}
	h1{
		font-size: 4vw;
	}
	.js-scroll{opacity: 1;}.container-half, .fashion-img, .fashion,.functions,.functions-img,.reliable,.reliable-img{
		display: flex;
		flex-direction: column;
		order:unset;
	}
	.fashion-img,.functions-img,.reliable-img{
		width:50%;
		flex-direction: row;
		margin: 0;
	}
	.fashion-img{margin-left: 5%;}
	.functions-img{margin-left: 10%;}
	.reliable-img{margin-left: 15%;}.fashion,.functions,.reliable{
		padding-top: 0;
		margin-top: 0;
	}
	.shock1,.shock2,.shock3,.funct1,.funct2,.funct3{
		top: unset;
		left: unset;
	}

	.slideshow,.dot,.next{
		display:none;
	}

	.navbar h1{
		display: block;
		color:white;
	}
	.nav-menu {
        position: fixed;
        left: -105%;
        top: 5rem;
        flex-direction: column;
        background-color: rgb(29, 29, 29);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
		list-style: none;
    }
    .nav-menu.active {
        left: 0;
    }
    .nav-item {
        margin: 2.5rem 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

	.extension{
		top:20%;
	}

	.container-flex2{
		flex-direction: column;
	}

	.assembly, .description{
		max-width: 100%;
	}

	.value-grid2{
		grid-template-columns: 100%;
	}

	.footer-author{
		height: 12vw;
	}

	.patek-img, .patek-text,
	.rolex-img, .rolex-text,
	.audemars-img, .audemars-text{
		max-width: 45%;
	}
}

@media screen and (max-width: 540px) {
	.body{
		font-size: 3vw;
	}
	h1{
		font-size:5vw;
	}
	.title{
		max-width:80%;
		margin: 5% 10% 2.5% 10%;
	}
	.container-center{
		max-width:80%;
		margin-left: 5%;
	}
}